.wrapper {
    max-width: 1024px;
    display: block;
    margin: auto;
    height: auto;
    padding: 0px 20px 0px 20px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.back {
    background-color: black;
}
.TODO{
    top: 150px;
    position: relative;
    display: inline;
    font-size: 50px;
    color: #227712;
    width: 100px;
    left: 39%;
    font-family: 'Roboto', sans-serif;
}
.list{
    position: relative;
    display: inline;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

/* LIST */
.todo__nainBox {
    padding: 150px 0 0 0;
    display: block;
    position: relative;
    max-width: 650px;
    margin:0 auto;  
}
.todo__searsch {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: auto;
    max-width: 553px;
}
.input__btn{
    max-width: 553px;
    display: block;
    position: relative;
    background: #fff;
    margin: 0 auto;
    border-top-right-radius: 29px;
    border-bottom-right-radius: 29px;
}
.textArea {
    background-color: aliceblue;
    color: black;
    padding: 20px 40px 20px 20px;
    display: inline-block;
    width: 460px;
    border: none;
    font-size: 16px;
}
/* Buttons */
.buttons{
    display: inline;
    position: absolute;
    left: 73%;
}
.complete{
    border: none;
    background: none;
    color: black;
    font-size: 18px;
    padding: 0 10px 0 10px;
}
.remove{
    border: none;
    background: none;
    color: black;
    font-size: 18px;
    padding: 0 10px 0 10px
}
.remove:hover{
    color: red;
}
.complete:hover{
    color: green;
}
.fli {
    background: #ffffff;
    padding: 10px;
    position: relative;
    display: block;
}
.listUL{
    position: relative;
    padding: 20px 0px 10px 0px;
    width: 275px;
}
.listUL2{
    position: relative;
    padding: 20px 0px 10px 0px;
    width: 275px;
}
.listLi{
    position: relative;
    margin: auto;
    padding: 10px 70px 10px 10px;
    background: #ffffff;
    list-style-type: none;
}
.navigation {
    display: inline;
    position: relative;
}
.btn {
    width: 274px;
    background: none;
    border: 0px;
    cursor: pointer;
    padding: 10px 0 10px 0;
    margin-top: 10px;
    color: #818181;
    font-size: 28px;
    text-align: center;
}
.btn:hover{
    color: #ffffff;
}
.listUL2#completed li {
    background: #DCFFDA;
    text-decoration: line-through;
}
.add__button {
    position: absolute;
    height: 58px;
    width: 58px;
    border-radius: 50%;
    border: none;
    background: #227712;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
    top: 0px;
    right: 0px;
    font-size: 26px;
    padding: 0;
}
.add__button:hover {
    opacity: 0,6;
    border: 2px #0A3C04;
    color: #ffffff;
}
.add__button:focus{
    outline: none;
}
.textArea:focus{
    outline: none;
}
.Active {
    display: none;
}
.todoBtnForAct {
    display: none;
}
.completeBtnForAct{
    display: none;
}
.divList{
    width: 275px;
    float: left;
    position: relative;
    display: block;
}
.divList1{
    width: 275px;
    float: right;
}

